<div class="d-flex">
<div class="sidebar d-flex flex-column p-3" style="height: 88vh; width: 200px; background-color: #AC87C5;">
<a class="fs-5 text-white " routerLink="/dashboard" href="" style="text-decoration: none;margin-top: 20px;"><i class="fa-solid fa-gauge text-white fa-lg  me-2"></i>DashBoard</a>
<a class="fs-5 text-white " routerLink="/employes"  href="" style="text-decoration: none;margin-top: 20px;"><i class="fa-solid fa-user text-white fa-lg  me-2"></i>Employee list </a>

</div>
<div class="dashboard w-100 p-3">
       <div class="row ">
              <div class="col-md-4 col-lg-8 ">
                     <div class="row ">
                            <div class="col-md-12 w-100 border border-danger p-5 bg-danger rounded  m-2 ">
                                   <h3 class="fs-3 fw-bold text-white">Welcome User</h3>

                            </div>
                            <div class="row gap-5 d-flex justify-content-center">
                                   <div style="min-height: 400px;" class="col-lg-4 shadow-lg m-2 p-3 bg-danger ">
                                          <h1>Calender</h1>
                                   </div>
                                   <div class="col-lg-1"></div>
                                   <div style="min-height: 400px;" class="col-lg-4 shadow-lg p-3 m-2 bg-danger ">
                                          <h1>event</h1>
                                   </div>
                            </div>
                     </div>
              </div>
              <div class="col-md-4">
                     <div style="min-height: 400px;" class="row ">
                            <div style="min-height: 400px;" class="col rounded m-2 ms-3 h-100 p-5 bg-danger ">
                                   <p class="fs-3 text-white">admin section</p>
                            </div>
                     </div>
                     <div style="min-height: 100px;" class="row ">
                            <div style="min-height: 100px;" class="col rounded m-2 ms-3 h-100 p-5 bg-danger ">
                                   <p class="fs-3 text-white">admin section</p>
                            </div>
                     </div>
              </div>
          

       </div>
    
</div>

</div>
